.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #d74949;  
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    margin: 0vh 10vw;
    padding: 0vh 5vw;
    height: 90vh;
}

.container > h1 {
    margin-top: 20vh;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;    
}

.container > p {
    margin-top: 30vh;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-transform: uppercase;
    
}

.container > p > span {
    color: #8F2727;
    
}

.container > h2 {
    margin-top: 25vh;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.07em;
    
}

.footer {
    display: flex;
    background-color: #3a3a3a;
    height: 10vh;
    bottom: 0;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer > p {
    font-weight: 700;
    font-size: 14px;
}

  